<h2>Who Are We...!</h2>
<div>
  <img src="../../assets/pearl-1.jpg" height="250px" />
</div>
<p>
  Pearl Creation was founded in 2008, with the objective to make beautiful
  jewellery accessible, affordable and forever wearable. After speaking to
  hundreds of women across the country, we came to find that there was a common
  dilemma women faced - picking between expensive jewellery for special
  occasions, and everyday jewellery that was of inferior quality and was not
  keeping pace with their changing lifestyle. It was founded, to give women
  access to modern, fine jewellery, that was also wearable everyday. Today Pearl
  Creation is India's largest omni-channel jeweller and also has over 123 retail
  stores across 40+ Indian cities.
</p>
