<!-- Main Toolbar of an App -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!-- <button
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with menu icon"
          mat-button
          (click)="drawer.toggle()"
        >
          <mat-icon>menu</mat-icon>
        </button> -->
    <span style="color: chartreuse"><i>Pearl Creation</i></span>
    <span class="example-spacer"></span>
    &nbsp;
  </mat-toolbar-row>
</mat-toolbar>

<mat-card>
  <!-- Title of an Card -->
  <mat-card-title> {{ addProduct }} </mat-card-title>

  <mat-card-content>
    <form [formGroup]="addForm" (ngSubmit)="submit()">
      <table>
        <tr>
          <td>
            <mat-form-field class="demo-full-width">
              <input matInput placeholder="Name" formControlName="Name" />
              <mat-error *ngIf="hasError('Name', 'required')"
                >Name is required</mat-error
              >
              <mat-error *ngIf="hasError('Name', 'pattern')"
                >Enter Valid Name</mat-error
              >
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="demo-full-width">
              <input
                matInput
                formControlName="Quantity"
                placeholder="Quantity"
              />
              <mat-error *ngIf="hasError('Quantity', 'required')"
                >Quantity is required</mat-error
              >
              <mat-error *ngIf="hasError('Quantity', 'pattern')"
                >Enter valid quantity</mat-error
              >
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="demo-full-width">
              <input matInput formControlName="Price" placeholder="Price" />
              <mat-error *ngIf="hasError('Price', 'required')"
                >Price is required</mat-error
              >
              <mat-error *ngIf="hasError('Price', 'pattern')"
                >Enter valid Price</mat-error
              >
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <mat-form-field class="demo-full-width">
              <textarea
                matInput
                formControlName="Description"
                placeholder="Description"
                matTextareaAutosize
                matAutosizeMinRows="2"
                matAutosizeMaxRows="5"
              ></textarea>
              <mat-error *ngIf="hasError('Description', 'required')"
                >Description is required</mat-error
              >
              <mat-error *ngIf="hasError('Description', 'pattern')"
                >Enter Valid Description</mat-error
              >
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <div style="text-align: center">
              <div [innerHtml]="msg" *ngIf="msg" style="color: red"></div>
              <div><img [src]="url" *ngIf="url" /></div>
              <p>
                <input
                  style="display: none"
                  #fileInput
                  type="file"
                  (change)="selectFile($event)"
                  multiple=""
                />
                <button
                  mat-raised-button
                  color="primary"
                  type="button"
                  (click)="fileInput.click()"
                >
                  choose Image
                </button>
              </p>
            </div>
          </td>
        </tr>

        <tr>
          <td colspan="2" class="content-center">
            <button mat-raised-button color="accent" type="submit">
              {{ isSave }}
            </button>
            &nbsp;&nbsp;
            <button mat-raised-button color="accent">Clear</button>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
</mat-card>
