.example-spacer {
  margin-left: 68%;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
}

.example-sidenav {
  padding: 50px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.BackImg {
  height: 90vh;
  width: 100%;
}
